### Python temporaries
**/__pycache__/*
*.py[cod]
*.egg
MANIFEST

### Jupyter temporaries
**/.ipynb_checkpoints

## Latex temporaries
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib

